html {
  display: flex;
  justify-content: flex-start;
  background-color: #33FFE0;
}

img {
  max-height: 1000px;
  max-width: 1000px;
  float: right;
}

.description {
  font-size: 20px;
}

#cook-time {
  font-weight: bold;
}

.ingredients {
  list-style: square;
}

p.time {
  font-weight: bold;
}

h1, h2, p, li {
  font-family: Helvectica
}
